<div class="row">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li>Classic wedding service</li>      
	</ol>
	<%= render 'services/menu' %>
	<br>
	<h1>Classic wedding service</h1>
	<div class="col-md-6 table-responsive prop-table"> 
		<table class="table  table-striped table-bordered">
		
			<tr>
				<td>Type:</td>

				<td>Classic wedding</td>
			</tr>
			<tr>
				<td>Passengers:</td>

				<td>5</td>
			</tr>
			<tr>
				<td>Hourly rate:</td>

				<td>$69/hr*</td>
			</tr>
		</table>


	</div>
	<div class="col-md-6 img-wrap"><img class="img-responsive" src ="http://www.freewebphoto.com/images/4/medium/4-AAAA-A43C8F-MCJA54-E47CM2-DM5H4A-C3EHQQ-N6DQRN/vintage-wedding-car-on-white.jpg"/> </div>
	<%= render "services/book_buttons"%>
	<br><br>
	<p> Evip transportation Car service offers the latest models of luxury vehicles for your most comfortable driving experience. Our drivers priority is your safety and comfort. Our private car service is known for taking you to your destination in style, safely and in a timely manner. Each vehicle is equipped with top safety features and is insured for passenger transportation.


	</p>
</div>
