<ul class="services-menu">
	<li  <% if @page=="sedan"%>class="active-service"<%end%>>
		<a href="/sedan">Sedan</a>
	</li>
	<li  <% if @page=="suv"%>class="active-service"<%end%>><a href="/suv">
	Suv</a></li>
	<li  <% if @page=="limo"%>class="active-service"<%end%>><a href="/limo">Stretch Limo</a></li>
	<li  <% if @page=="hummer"%>class="active-service"<%end%>><a href="/hummer">Luxury Mersedes Van</a></li>
	<li  <% if @page=="bus"%>class="active-service"<%end%>><a href="/party-bus">Party bus</a></li>
</ul>