<div class="row">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li>Sedan service</li>      
	</ol>
	<%= render 'services/menu' %>
	<br>
	<h1>Sedan service</h1>
	<div class="col-md-6  prop-table"> 
		<table class="table  table-striped table-bordered">
		
			<tr>
				<td>Type:</td>

				<td>Luxury Sedan</td>
			</tr>
			<tr>
				<td>Passengers:</td>

				<td>5</td>
			</tr>
			<tr>
				<td>Hourly rate:</td>

				<td class="price-table">$49/hr</td>
			</tr>
		</table>


	</div>
	<div class="col-md-6 img-wrap"><img class="img-responsive" src ="http://carrrsmag.com/data_images/models/lincoln-town-car/lincoln-town-car-04.jpg"/> </div>
	<%= render "services/book_buttons"%>
	<br><br>
	<%= render "services/main_article"%>

	<p> GO LIMO 24 car service offers the latest models of luxury vehicles for your most comfortable driving experience. Our drivers priority is your safety and comfort. Our private car service is known for taking you to your destination in style, safely and in a timely manner. Each vehicle is equipped with top safety features and is insured for passenger transportation.
	</p>
</div>