<% if @page == "suv"%>
<!--suv-->
<%=select_tag "price", "<option value='65'>0-10 miles</option><option value='75'>11-25 miles</option><option value='89'>26-30 miles</option>".html_safe, :class=> 'form-control price-select'%>
<%end%>
<% if @page == "limo"%>
<!--stretch limo-->
<%=select_tag "price", "<option value='149'>0-10 miles</option><option value='187'>11-25 miles</option><option value='209'>26-30 miles</option>".html_safe, :class=> 'form-control price-select'%>
<%end%>
<% if @page == "Luxury Mersedes Van"%>
<!--Luxury Mersedes Van-->
<%=select_tag "price", "<option value='169'>0-10 miles</option><option value='185'>11-25 miles</option><option value='209'>26-30 miles</option>".html_safe, :class=> 'form-control price-select', :required => true%>
<%end%>
<% if @page == "sedan"%>
<!--Sedan-->

<%= text_field_tag :price, "", class: 'form-control price-select-input price-select', placeholder: 'Hours', type: 'number', required: 'required' %>
<%end%>