
<% if @page == "sedan"%>
	<!--Sedan-->
	<%= text_field_tag :price, "", class: 'form-control price-select-input price-select', placeholder: 'Hours', type: 'number', required: 'required' %>
<% elsif @page != "bus" and @page != "rv"%>
	<%=select_tag "price",
	 "<option value=#{@car.price1}>0-10 miles</option><option value=#{@car.price2}>11-25 miles</option><option value=#{@car.price3}>26-30 miles</option>
		<option value=''>other</option>"
		.html_safe, :class=> 'form-control price-select', :required => true%>
<%end%>