<br/>
<script
src="https://maps.googleapis.com/maps/api/js">
</script>
<div class="row ">
	<center>
		<h2 >About us</h2>
		<br>

		<div class="col-md-6 overflow-hidden">

			<p class="bold hidden"> Location</p>
			<p class="hidden">400 Paula ave unit 320 Glendale California 91201</p>
			<div id="googleMap" class="map"></div>
		</div>
		<div class="col-md-6">
			<p class="about-text left-align"> Evip transportation Car service offers the latest models of luxury vehicles for your most comfortable driving experience. Our drivers priority is your safety and comfort. Our private car service is known for taking you to your destination in style, safely and in a timely manner. Each vehicle is equipped with top safety features and is insured for passenger transportation.

			</p>
			<p class="left-align">
			<b>phone:</b> 818-844-7529<br>
			<b>email:</b> edwineyvazian@gmail.com<br>
			<b>location:</b> 400 Paula ave unit 320 Glendale California 91201 
			</p>
		</div>
	</center>
</div>
<script>

</script>
