<h2 class="center-align">Our specials</h2>
<div class="row">
	<!--1st speacial!-->
	<div class="col-md-4 ">
		<div class="thumbnail product-wrap" >
			<div class="caption">
				<h4 class="">
					<a  href="/suv" title= "">)$288</a><br>
				    Wine tour  <br/> 
				    11-25 miles<br/>
				    26-30 miles<br/>
				    Sedan tour 6hr – 4 psg
				</h4>
				<div class="product-text "><a href = "/suv" class=" btn btn-primary" t value ="book">more info and book </a></div>
			</div>
		</div>
	</div>
	<!--second special-->
	<div class="col-md-4 ">
		<div class="thumbnail product-wrap" >
			<div class="small-img-wrap">
				<a  href="/suv" title= "">
					<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ6XNEP1o97GArvh7rk8hf7m0j0axfPpcUUAalHJ6CrEOAySN1vSQ" alt="" > 
				</a>
				</div>
			<div class="caption">
				<h4 class="">
					<a  href="/suv" title= "">SUV</a><br>
						<b class="firstb">$65</b>   0-10 miles<br/> 
						<b>$75</b>   11-25 miles<br/>
						<b>$89</b>   26-30 miles<br/>
				</h4>
				<div class="product-text "><a href = "/suv" class=" btn btn-primary" t value ="book">more info and book </a></div>
			</div>
		</div>
	</div>

	<!--third special-->
	<div class="col-md-4 ">
		<div class="thumbnail product-wrap" >
			<div class="small-img-wrap">
				<a  href="/suv" title= "">
					<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ6XNEP1o97GArvh7rk8hf7m0j0axfPpcUUAalHJ6CrEOAySN1vSQ" alt="" > 
				</a>
				</div>
			<div class="caption">
				<h4 class="">
					<a  href="/suv" title= "">SUV</a><br>
						<b class="firstb">$65</b>   0-10 miles<br/> 
						<b>$75</b>   11-25 miles<br/>
						<b>$89</b>   26-30 miles<br/>
				</h4>
				<div class="product-text "><a href = "/suv" class=" btn btn-primary" t value ="book">more info and book </a></div>
			</div>
		</div>
	</div>

</div>