
<div class="row">
	<!--1st speacial!-->
	<div class="col-md-4 ">
		<div class="thumbnail product-wrap" >
			<div class="caption">
				<h4 class="">
					<a  title= ""><b>$288</b></a><br>
				    Wine tour  <br/> 
				    Napa Valley<br/>
				    Sedan tour 6hr – 4 psg
				</h4>
				<div class="product-text "><a href = "/book-tour?price=288&page=Sedan tour 6hr – 4 psg" class=" btn btn-primary" t value ="book">more info and book </a></div>
			</div>
		</div>
	</div>
	<!--second special-->
	<div class="col-md-4 ">
		<div class="thumbnail product-wrap" >
			<div class="caption">
				<h4 class="">
					<a  title= ""><b>$349 </b></a><br>
				    Wine tasting  <br/> 
				    Napa Valley<br/>
				    Suv tour 6hr – 7 psg
				</h4>
				<div class="product-text "><a href = "/book-tour?price=349&page=Suv tour 6hr – 7 psg" class=" btn btn-primary" t value ="book">more info and book </a></div>
			</div>
		</div>
	</div>

	<!--third special-->
	<div class="col-md-4 ">
		<div class="thumbnail product-wrap" >
			<div class="caption">
				<h4 class="">
					<a  title= ""><b>$375  </b></a><br>
				  
				    Wine tasting  <br/> 
				    Napa Valley<br/>
				    Limo tour 6hr – 6 psg
				
				</h4>
				<div class="product-text "><a href = "/book-tour?price=375&page=Limo tour 6hr – 6 psg" class=" btn btn-primary" t value ="book">more info and book </a></div>
			</div>
		</div>
	</div>

</div>