<div class="row">
	<!--1st speacial!-->
	<div class="col-md-4 ">
		<div class="thumbnail product-wrap" >
				<i class="fa fa-usd fa-5x" aria-hidden="true"></i>
			<div class="caption">
				<h4 class="">
					Guaranteed on time service						
				</h4>
				
			</div>
		</div>
	</div>
	<!--second special-->
	<div class="col-md-4 ">
		<div class="thumbnail product-wrap" >
			<div class="small-img-wrap">
			<i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
			</div>
			<div class="caption">
				<h4 class="">
					Save 10% on round-trip service
				</h4>
				
			</div>
		</div>
	</div>

	<!--third special-->
	<div class="col-md-4 ">
		<div class="thumbnail product-wrap" >
			<div class="small-img-wrap">
				<i class="fa fa-wifi fa-5x" aria-hidden="true"></i>

				</div>
			<div class="caption">
				<h4 class="">
					Free wi-fi on Suv’s Sedans &&  Limo’s
				</h4>
				
			</div>
		</div>
	</div>

</div>