<div class="row">
	<!--1st speacial!-->
	<div class="col-md-4 ">
		<div class="thumbnail product-wrap center-align" >
				<i class="fa fa-usd fa-5x" aria-hidden="true"></i>
			<div class="caption">
				<h5 class="">
					Guaranteed on time service						
				</h5>
				
			</div>
		</div>
	</div>
	<!--second special-->
	<div class="col-md-4 ">
		<div class="thumbnail product-wrap center-align" >
			<i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
			<div class="caption">
				<h5 class="">
					Save 10% on round-trip service
				</h5>
				
			</div>
		</div>
	</div>

	<!--third special-->
	<div class="col-md-4 ">
		<div class="thumbnail product-wrap center-align" >
				<i class="fa fa-wifi fa-5x" aria-hidden="true"></i>

			<div class="caption">
				<h5 class="">
					Free wi-fi <br>on Suv’s &&  Limo’s
				</h5>
			</div>
		</div>
	</div>

</div>