<div class="row">
	
	<div class="col-md-12">
		<h1 class = "main-header ">Car services</h1>
		<div class="col-md-4 ">
			<div class="thumbnail product-wrap" >
				<div class="small-img-wrap">
					<a  href="/sedan" title= "">
						<img src="http://carrrsmag.com/data_images/models/lincoln-town-car/lincoln-town-car-04.jpg" alt="" > 
					</a>
				</div>
				<div class="caption">
					<h4 class=""><a href="/sedan">Sedan</a><br>
						<b>$54/hour*</b> 2 hours min</h4>

						<div class="product-text "><a href = "/sedan" class=" btn btn-primary"  value ="book">more info and book </a></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="thumbnail product-wrap" >
					<div class="small-img-wrap">
						<a  href="/suv" title= "">
							<img src="http://starmoz.com/images/chevrolet-suburban-10.jpg" alt="" > 
						</a>
					</div>
					<div class="caption">
						<h4 class=""><a  href="/suv" title= "">SUV</a><br>
							<b>$68/hour*</b> 2 hours min</h4>

							<div class="product-text "><a href = "/suv" class=" btn btn-primary" t value ="book">more info and book </a></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="thumbnail product-wrap" >
						<div class="small-img-wrap">
							<a  href="/limo" title= "">
								<img src="http://wac.2c1f.edgecastcdn.net/002C1F/limo/stretchlimo.jpg" alt="" class="limo-img" > 
							</a>
						</div>
						<div class="caption">
							<h4 class=""><a href = "/limo" class="">Stretch Limo</a><br>
								<b>$74/hour*</b> 2 hours min</h4>

								<div class="product-text "><a href = "/limo" class=" btn btn-primary"  value ="book">more info and book </a></div>
							</div>
						</div>
					</div>
				</div><!--col-md-12!-->

				<div class="col-md-12">		<br><br>
					<div class="col-md-4 ">
						<div class="thumbnail product-wrap" >
							<div class="small-img-wrap">
								<a  href="/hummer" title= "">
									<img src="http://i.imgur.com/Th33APb.png?1" alt="" > 
								</a>
							</div>
							<div class="caption">
								<h4><a  href="/hummer" title= "">Van</a><br><b>Call to get an estimate*</b> 6 hours min</h4>

								<div class="product-text "><a href = "/hummer" class=" btn btn-primary"  value ="book">more info and book </a></div>
							</div>
						</div>
					</div>
					<div class="col-md-4 ">					
						<div class="thumbnail product-wrap" >
							<div class="small-img-wrap">
								<a  href="/party-bus" title= "">
									<img src="http://www.lapartybus.com/images/the-presidential-crop-u9127.png" alt="" > 
								</a>
							</div>
							<div class="caption">
								<h4 class=""><a  href="/party-bus" title= "">Party bus </a> <br>	<b>$169/hour*</b> 2 hours min</h4>


								<div class="product-text "><a href = "/party-bus" class=" btn btn-primary" t value ="book">more info and book </a></div>
							</div>
						</div>
					</div>
					<div class="col-md-4 ">
						<div class="thumbnail product-wrap" >
							<div class="small-img-wrap">
								<a  href="/classic-wedding" title= "">
									<img src="http://www.freewebphoto.com/images/4/medium/4-AAAA-A43C8F-MCJA54-E47CM2-DM5H4A-C3EHQQ-N6DQRN/vintage-wedding-car-on-white.jpg" alt="" > 
								</a>
							</div>
							<div class="caption">
								<h4 class=""><a  href="/classic-wedding" title= "">Classic wedding </a> <br>	<b>$70/hour*</b> 8 hours min</h4>


								<div class="product-text "> <a href = "/classic-wedding" class=" btn btn-primary" t value ="book">more info and book </a></div>
							</div>
						</div>
					</div>
					<div class="col-md-4 ">
						<div class="thumbnail product-wrap" >
							<div class="small-img-wrap">
								<a  href="/classic-wedding" title= "">
									<img src="http://www.whitemountainoil.com/uploads/images/Propane/RV.jpg" alt="" > 
								</a>
							</div>
							<div class="caption">
								<h4 class=""><a  href="/classic-wedding" title= "">RV </a> <br>	<b>Call to get an estimate*</b> 2 days min</h4>


								<div class="product-text "> <a href = "/rv" class=" btn btn-primary" t value ="book">more info and book </a></div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<%= render 'static_pages/contacts' %>
