<div class="row">
	
	<div class="col-md-12">
		<h1 class = "main-header ">Car services</h1>
		<div class="col-md-4 ">
			<div class="thumbnail product-wrap" >
				<div class="small-img-wrap">
					<a  href="/sedan" title= "">
						<img src="http://starmoz.com/images/chevrolet-suburban-10.jpg" alt="" > 
					</a>
				</div>
				<div class="caption">
					<h4 class=""><a href="/sedan">Sedan</a><br>
						$69/hour* 2 hours min</h4>

						<div class="product-text "><a href = "/sedan" class=" btn btn-primary"  value ="book">more info </a></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="thumbnail product-wrap" >
					<div class="small-img-wrap">
						<a  href="/suv" title= "">
							<img src="https://www.enterprise.com/content/enterprise_cros/data/vehicle/bookingCountries/US/SUVS/LFAR.doi.768.high.imageSmallThreeQuarterNodePath.png/1435160908126.png" alt="" > 
						</a>
					</div>
					<div class="caption">
						<h4 class=""><a  href="/suv" title= "">SUV</a><br>
							$79/hour* 2 hours min</h4>

							<div class="product-text "><a href = "/suv" class=" btn btn-primary" t value ="book">more info </a></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="thumbnail product-wrap" >
						<div class="small-img-wrap">
							<a  href="/limo" title= "">
								<img src="http://wac.2c1f.edgecastcdn.net/002C1F/limo/stretchlimo.jpg" alt="" class="limo-img" > 
							</a>
						</div>
						<div class="caption">
							<h4 class=""><a href = "/limo" class="">Stretch Limo</a><br>
								$79/hour* 2 hours min</h4>

								<div class="product-text "><a href = "/limo" class=" btn btn-primary"  value ="book">more info </a></div>
							</div>
						</div>
					</div>
				</div><!--col-md-12!-->

				<div class="col-md-12">		<br><br>
					<div class="col-md-4 ">
						<div class="thumbnail product-wrap" >
							<div class="small-img-wrap">
								<a  href="/hummer" title= "">
									<img src="http://www.olta.ru/pic/hummer.jpg" alt="" > 
								</a>
							</div>
							<div class="caption">
								<h4><a  href="/hummer" title= "">Hummer</a><br>$109/hour* 2 hours min</h4>

								<div class="product-text "><a href = "/hummer" class=" btn btn-primary"  value ="book">more info </a></div>
							</div>
						</div>
					</div>
					<div class="col-md-4 ">					
						<div class="thumbnail product-wrap" >
							<div class="small-img-wrap">
								<a  href="/party-bus" title= "">
									<img src="http://www.lapartybus.com/images/the-presidential-crop-u9127.png" alt="" > 
								</a>
							</div>
							<div class="caption">
								<h4 class=""><a  href="/party-bus" title= "">Party bus </a> <br>	$109/hour* 2 hours min</h4>


								<div class="product-text "><a href = "/party-bus" class=" btn btn-primary" t value ="book">more info </a></div>
							</div>
						</div>
					</div>
					<div class="col-md-4 ">
						<div class="thumbnail product-wrap" >
							<div class="small-img-wrap">
								<a  href="/classic-wedding" title= "">
									<img src="http://www.freewebphoto.com/images/4/medium/4-AAAA-A43C8F-MCJA54-E47CM2-DM5H4A-C3EHQQ-N6DQRN/vintage-wedding-car-on-white.jpg" alt="" > 
								</a>
							</div>
							<div class="caption">
								<h4 class=""><a  href="/classic-wedding" title= "">Classic wedding </a> <br>	$109/hour* 2 hours min</h4>


								<div class="product-text "> <a href = "/classic-wedding" class=" btn btn-primary" t value ="book">more info </a></div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<%= render 'static_pages/contacts' %>
