<div class="row">
	<h1>Wine tours</h1>
	<div class="col-md-4 wine-wrap" >
		<img  src = "wine1.jpg"/>
	</div>
	<div class="col-md-4 wine-wrap" >
	<img  src = "wine2.jpg"/>
	</div>
	<div class="col-md-4 wine-wrap" >
	<img  src = "wine2.jpg"/>
	</div>
</div>
	<%=render "static_pages/our_specials"%>
