<div class="row">
	<h1>Wine tours</h1>
	<img class="col-md-4" src = "wine1.jpg"/>
	<img class="col-md-4" src = "wine2.jpg"/>
	<img class="col-md-4" src = "wine2.jpg"/>
</div>
	<%=render "static_pages/our_specials"%>
