@media (max-width: 800px) {
	.book-button, .fair-estimate-button {
		margin-left: 0!important;
		margin-right: 0!important;
		width:100%!important;
		max-width: 100%;display: block}
		.simple-book {
			max-width: 100%;display: block;
			margin-bottom: 10px;
		}
	}
	