
    <hr>

    <!-- Footer -->
    <footer>
            <div class="col-md-11">
                <div class="pull-left">
                    <p>Copyright &copy; evip transportation 2016</p>
                </div>
                <div class="pull-right">
                    <%= link_to 'Home' , '/', :method => :get, :class => "up" %>
                    <%= link_to 'Contacts' , '#', :method => :get, :class => "up" %>
                    <%= link_to 'About' , '#', :method => :get, :class => "up" %>
                    
                    
                </div>
            </div>
    </footer>
<br><br><br>


    <!-- /.container -->