<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid navbar-inner navbar-inverse">
		<ul class="nav navbar-nav">
			<li class="dropdown menu">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i> Menu</a>
				<ul class="dropdown-menu">
					<li><a href="/">Home</a></li>
					<li class="hidden"><a href="#">About</a></li>
					<li class="hidden"><a href="#">Contacts</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Car services</li>
					<li><a href="sedan">Sedan</a></li>
					<li><a href="suv">Suv</a></li>
					<li><a href="limo">Stretch Limo</a></li>
					<li><a href="hummer">7 passenger Van</a></li>
					<li><a href="bus">Party bus</a></li>
					<li><a href="rv">RV</a></li>
					<% if user_signed_in? %>
					
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Admin Dashboard</li>
					<li><a href="/cars">Cars</a></li>

  					<li>		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
					<% end %>
					
				</ul>
			</li>
		</ul>
		<ul class= " nav nav-center"><a class= " logo" href = "/">GO LIMO 24</a>
	
	 <br/>  <span class="hidden under-logo"> car services </span></ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="phone"><i class="fa fa-mobile"></i> 818-844-7529</li>
		</ul>
	</div><!--/.container-fluid -->
</nav>
